@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
.homeDiv{
    background: url(https://d2s7hpbx4rtiif.cloudfront.net/wysiwyg/bg-gift.png);
    background-color: var(--homePg);
    background-size: cover;
    padding: 2vh 5vw 5vw 5vw;
    height: 100%;
}
.ad1{
    position: relative;
    background: url(https://d2s7hpbx4rtiif.cloudfront.net/sparsh/banner/image/1/9/1920x375_lego_main_1.jpg) no-repeat;
    background-size: 100%;
    height: 38vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}
.shopnowBtn{
    display: flex;
    align-items: center;
    color: var(--homepgDiv);
    background-color: crimson;
    padding: 0.5vw 1.7vw;
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom: 3.5%;
    left: 44%;
    cursor: pointer;
    font-weight: 600;
    outline: none;
}
.shopByCategory{
    padding: 3vw 2vw;
    text-align: center;
    margin-top: 12vh;
    background-color: var(--homepgDiv);
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.shopByCategory h1{
    text-transform: capitalize;
    font-family: 'Grandstander', cursive;
}
.cardList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.card1{
    width: 30%;
    height: 60vh;
    margin: auto;
    margin-top: 5vh;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
}
.card1 h1{
    position: absolute;
    bottom: 2%;
    color: var(--homepgDiv);
    padding-left: 3%;
}

.card1:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.ad2{
    margin-top: 12vh;
    padding: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
}
.ad2>img{
    border-radius: 7px;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.ytFrame{
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 12vh;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.aboutUsDiv{
    background-color: var(--homepgDiv);
    margin-top: 8vh;
    width: 100%;
    display: flex;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.first{
    padding: 2vw 4vw;
    text-align: center;
    line-height: 5vh;
    width: 70%;
    font-family: 'Grandstander', cursive;
}
.second{
    padding: 2vw 4vw;
}
.second img{
    height: 90%;
}